.wrapper {
  border: 1px solid green;
}

.sidebar {
  overflow: auto;
  float: left;
  width: 230px;
  height: 700px;
  border: 1px solid red;
}

.content {
  float: left;
  border: 1px solid blue;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

