.invoice {
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
}

.not-found {
  display: none;
}

.name {
  float: left;
  font-weight: bold;
}

.price {
  float: right;
  position: relative;
  top: 10px;
}
